<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- Typography =============================================== -->
  <script src="https://use.typekit.net/ezb3ysz.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <div id="NavDrawer" class="drawer drawer--left">
    <div class="drawer__header">
      <div class="drawer__close text-right js-drawer-close">
        <button type="button" class="btn--tertiary">
          <strong>{{ 'layout.drawers.close' | t }}</strong>
        </button>
      </div>
    </div>
    <!-- begin mobile-nav -->
    <ul class="mobile-nav">
      <li class="mobile-nav__item mobile-nav__search">
        {% include 'search-bar' %}
      </li>
      {% for link in linklists.main-menu.links %}
        {% comment %}
          Create a dropdown menu by naming a linklist the same as a link in the parent nav

          More info on dropdowns:
            - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
        {% endcomment %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}" aria-haspopup="true">
            <div class="mobile-nav__has-sublist">
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
              <div class="mobile-nav__toggle">
                <button type="button" class="mobile-nav__toggle-open">
                  +
                </button>
                <button type="button" class="mobile-nav__toggle-close">
                  −
                </button>
              </div>
            </div>
            <ul class="mobile-nav__sublist">
              {% for childlink in linklists[child_list_handle].links %}
                <li class="mobile-nav__item {% if childlink.active %} mobile-nav__item--active{% endif %}">
                  <a href="{{ childlink.url }}" class="mobile-nav__link">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
            <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% comment %}
        If customer accounts are enabled, provide login and create account links
      {% endcomment %}
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li class="mobile-nav__item">
            {% if customer.first_name != blank %}
              {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
              {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
          </li>
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          </li>
        {% else %}
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          </li>
          {% if shop.customer_accounts_optional %}
          <li class="mobile-nav__item">
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          </li>
          {% endif %}
        {% endif %}
      {% endif %}
    </ul>
    <!-- //mobile-nav -->
  </div>
  <div id="PageContainer" class="is-moved-by-drawer">
    <div class="site-top">
      <header class="site-header" role="banner">
        <div class="wrapper">
          <div class="grid--full grid--table">
            <div class="grid__item large--one-half">
              <a href="/" itemprop="url" class="site-header__logo large--left">
                {% include 'logo.svg' %}
              </a>
            </div>

            <div class="grid__item large--one-half large--text-right medium-down--hide">
              {% comment %}
                Show number of items in the cart and total cost in the /cart link

                Ajax Cart Notes:
                  - .CartCount updates the total number of items in the cart
                  - #CartCost updates the total cost of the cart
                  - Documentation:  http://shopify.com/timber#ajax-cart

              {% endcomment %}


              {% comment %}
                If customer accounts are enabled, provide login and create account links
              {% endcomment %}
              {% if shop.customer_accounts_enabled %}
                <div>
                  {% if customer %}
                    {% if customer.first_name != blank %}
                      {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                      {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                    {% else %}
                      <a href="/account">{{ 'layout.customer.account' | t }}</a>
                    {% endif %}
                    | {{ 'layout.customer.log_out' | t | customer_logout_link }}
                  {% else %}
                    {{ 'layout.customer.log_in' | t | customer_login_link }}
                    {% if shop.customer_accounts_optional %}
                    | {{ 'layout.customer.create_account' | t | customer_register_link }}
                    {% endif %}
                  {% endif %}
                </div>
              {% endif %}

              <div class="site-header__search">
                {% include 'search-bar' %}
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-bar" role="navigation">
        <div class="medium-down--hide">
          {% comment %}
            List out your main-menu linklist (default)

            More info on linklists:
              - http://docs.shopify.com/themes/liquid-variables/linklists
          {% endcomment %}
          <div class="grid">
          <!-- begin site-nav -->
            <ul class="site-nav grid__item five-eighths" id="AccessibleNav">
              {% for link in linklists.main-menu.links %}
                {% comment %}
                  Create a dropdown menu by naming a linklist the same as a link in the parent nav

                  More info on dropdowns:
                    - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                {% endcomment %}
                {% assign child_list_handle = link.title | handleize %}
                {% if linklists[child_list_handle].links != blank %}
                  <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                    <a href="{{ link.url }}" class="site-nav__link">
                      {{ link.title }}
                      <span class="icon icon-arrow-down" aria-hidden="true"></span>
                    </a>
                    <ul class="site-nav__dropdown">
                      {% for childlink in linklists[child_list_handle].links %}
                        <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                          <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li {% if link.active %}class="site-nav--active"{% endif %}>
                    <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>

            <div class="grid__item site-nav three-eighths text-right right">
              <a href="/cart" class="site-nav__link">
                {{ 'layout.cart.title' | t }} (<span class="CartCount">{{ cart.item_count }}</span> {{ 'layout.cart.items_count' | t: count: cart.item_count }} <span id="CartCost">{{ cart.total_price | money }}</span>)
              </a>
            </div>
          </div>
          <!-- //site-nav -->
        </div>
        <div class="large--hide medium-down--show">
          <div class="grid">
            <div class="grid__item one-half">
              <div class="site-nav--mobile">
                <button type="button" class="site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                  {{ 'layout.navigation.menu' | t }}
                </button>
              </div>
            </div>
            <div class="grid__item one-half text-right">
              <div class="site-nav--mobile">
                <a href="/cart" class="site-nav__link">
                  {{ 'layout.cart.title' | t }} (<span class="CartCount">{{ cart.item_count }}</span> {{ 'layout.cart.items_count' | t: count: cart.item_count }})
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <main class="wrapper main-content" role="main">

      {% if settings.site_enable == false %}
        {% include 'site-enable-false' %}
      {% endif %}

      {{ content_for_layout }}

    </main>

    <!-- begin site-footer -->
    <footer class="site-footer small--text-center" role="contentinfo">
      <div class="wrapper">
        <div class="grid">
          <div class="grid__item three-eighths small--one-whole small--text-left">
            <ul class="footer-nav no-bullets">

            {% for link in linklists.footer.links %}
              <li>
                <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>
          {% if settings.footer_newsletter_enable %}
          <div class="grid__item five-eighths small--one-whole">
            <h3>{{ 'layout.footer.newsletter_title' | t }}</h3>
            {% if settings.newsletter_form_action != blank %}
              {% assign form_action = settings.newsletter_form_action %}
            {% else %}
              {% assign form_action = '/404' %}
            {% endif %}
            <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
              <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
              <span class="input-group-btn">
                <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
              </span>
            </form>
          </div>
          {% endif %}
          {% if settings.footer_social_enable %}
            <div class="grid__item five-eighths small--one-whole text-right">
                <ul class="no-bullets">
                  {% if settings.social_twitter != blank %}
                    <li>
                      <a href="http://twitter.com/{{ settings.social_twitter }}" title="{{ shop.name }} on Twitter">
                        Follow <strong>@{{ settings.social_twitter }}</strong> on Twitter
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_facebook != blank %}
                    <li>
                      <a href="https://www.facebook.com/{{ settings.social_facebook }}" title="{{ shop.name }} on Facebook">
                        Like <strong>{{ settings.social_facebook }}</strong> on Facebook
                      </a>
                    </li>
                  {% endif %}
                </ul>
            </div>
          {% endif %}
        </div>
        <div class="grid">
          <div class="credit text-right">
            <div class="credit__text">Site design and development by <a href="http://olivermak.es">Oliver Pattison</a></div>
            <div class="credit__logo"><a href="http://olivermak.es">{% include 'logo-credit.svg' %}</a></div>
          </div>
        </div>
      </div>
    </footer>
    <!-- //site-footer -->
  </div>

  {{ 'timber.js' | asset_url | script_tag }}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if newHash %}
      $(function() {
        timber.updateHash('{{ newHash }}');
      });
    {% endif %}
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_enable %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '.CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
      });

      jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
        // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
    </script>
  {% endif %}

</body>
</html>
