<!-- /templates/cart.liquid -->

{% if cart.item_count > 0 %}

  <h1>{{ 'cart.general.title' | t }}</h1>
  <form action="/cart" method="post" novalidate class="cart table-wrap">
    <table class="cart-table large--three-quarters table--responsive">
      <thead class="cart__row cart__header-labels">
        <th colspan="2">{{ 'cart.label.product' | t }}</th>
        <th class="text-right">{{ 'cart.label.price' | t }}</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr class="cart__row table__section">
            <td data-label="{{ 'customer.order.product' | t }}">
              <a href="{{ item.url | within: collections.all }}" class="cart__image">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>

              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove btn--tertiary btn--small">
                {{ 'cart.general.remove' | t }}
              </a>
            </td>
            <td>
              <a href="{{ item.url }}" class="h3">
                {{ item.product.title }}
              </a>
              {% unless item.variant.title contains 'Default' %}
                <br>
                <small>{{ item.variant.title }}</small>
              {% endunless %}

              {% comment %}
                Optional, loop through custom product line items if available

                For more info on line item properties, visit:
                  - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
              {% endcomment %}
              {% assign property_size = item.properties | size %}
              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {{ p.first }}:

                    {% comment %}
                      Check if there was an uploaded file associated
                    {% endcomment %}
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                    <br>
                  {% endunless %}
                {% endfor %}
              {% endif %}
            </td>
            <td class="text-right cart__item-price" data-label="{{ 'cart.label.price' | t }}">
                {{ item.price | money }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="responsive-table">
      <div class="large--three-quarters text-right{% if settings.cart_notes_enable %} one-third small--one-whole{% endif %}">
        <div>
          <div class="cart__subtotal-title">
            {{ 'cart.general.subtotal' | t }}:
          </div>
          <div class="cart__subtotal">
            {{ cart.total_price | money }}
          </div>
        </div>
        {% if cart.item_count >= 2 %}
          <input type="hidden" name="discount" value="two-item-discount-20150106"/>
        {% endif %}
        <input type="submit" name="checkout" class="btn--secondary" value="{{ 'cart.general.checkout' | t }}">
      </div>
      {% if settings.cart_notes_enable %}
        <div class="large--three-quarters">
          <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
          <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
        </div>
      {% endif %}
    </div>
  </form>
{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}
  <h2>{{ 'cart.general.title' | t }}</h2>
  <p>{{ 'cart.general.empty' | t }}</p>
  <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
{% endif %}
