<!-- /templates/cart.liquid -->

{% if cart.item_count > 0 %}

  <h1>{{ 'cart.general.title' | t }}</h1>
  <form action="/cart" method="post" novalidate class="cart table-wrap">
    <table class="cart-table push--large--one-eighth large--three-quarters table--responsive">
      <thead class="cart__row cart__header-labels">
        <th colspan="2">{{ 'cart.label.product' | t }}</th>
        <th class="text-right">{{ 'cart.label.price' | t }}</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr class="cart__row table__section">
            <td data-label="{{ 'customer.order.product' | t }}">
              <a href="{{ item.url | within: collections.all }}" class="cart__image">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>

              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove btn--tertiary btn--small">
                {{ 'cart.general.remove' | t }}
              </a>
            </td>
            <td>
              <a href="{{ item.url }}" class="h3">
                {{ item.product.title }}
              </a>
              {% unless item.variant.title contains 'Default' %}
                <br>
                <small>{{ item.variant.title }}</small>
              {% endunless %}

              {% comment %}
                Optional, loop through custom product line items if available

                For more info on line item properties, visit:
                  - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
              {% endcomment %}
              {% assign property_size = item.properties | size %}
              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {{ p.first }}:

                    {% comment %}
                      Check if there was an uploaded file associated
                    {% endcomment %}
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                    <br>
                  {% endunless %}
                {% endfor %}
              {% endif %}
            </td>
            <td class="text-right cart__item-price" data-label="{{ 'cart.label.price' | t }}">
                {{ item.price | money }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if settings.cart_notes_enable %}
      <div class="push--large--one-eighth large--three-quarters">
        <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
        <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
      </div>
    {% endif %}
    <div class="grid--full">
      <div class="grid__item push--large--one-eighth large--one-half medium-down--text-right">
        {% if cart.item_count >= 2 and settings.bulk_discount_enable == true %}
        <label for="discount"><strong>10% discount will be applied!</strong></label>
        <input class="large--one-half" name="discount" value="two-item-discount-20150106" hidden="true"/>
        {% else %}
        <label for="discount">Discount code:</label>
        <input class="large--one-half" name="discount"/>
        {% endif %}
      </div>
      <div class="grid__item push--large--one-eighth one-quarter medium-down--one-whole text-right">
          <div>
            <div class="cart__subtotal-title">
              {{ 'cart.general.subtotal' | t }}:
            </div>
            <div class="cart__subtotal">
              {{ cart.total_price | money }}
            </div>
          </div>
          <input type="submit" name="checkout" class="btn--secondary" value="{{ 'cart.general.checkout' | t }}">
      </div>
    </div>
  </form>
{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}
  <h2>{{ 'cart.general.title' | t }}</h2>
  <p><em>{{ 'cart.general.empty' | t }}</em></p>
  {{ 'cart.general.continue_browsing_html' | t }}
{% endif %}

<div class="box-container">
  <div class="box--promo">
    <strong>Free</strong> shipping on all orders!
  </div>
  {% if settings.bulk_discount_enable == true %}
  <div class="box--promo">
    <strong>10% off</strong> applied automatically to orders with more than two items at checkout. {% if cart.item_count < 2 %}<a href="/collections/all">Keep shopping</a>?{% endif %}
  </div>
  {% endif %}
</div>

<p class="disclaimer">Read about <strong><a href="/pages/about#policies">the shop’s policies and guarantees</a></strong>.</p>
