<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

<h2><a href="/collections/frontpage" title="Browse all {{ 'homepage.sections.frontpage_title' | t }}">{{ 'homepage.sections.frontpage_title' | t }}</a></h2>

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
<div class="grid-uniform">

  {% comment %}
    Loop through products in your Frontpage collection.
    This collection is created by default, but you must add products to it.
  {% endcomment %}
  {% for product in collections.frontpage.products limit:4 %}

    {% comment %}
      Change the grid item width by using classes from the grid in
      the grid_item_width variable.

      Example:
        - {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% endcomment %}
    {% assign grid_item_width = 'large--one-quarter medium--one-half' %}
    {% include 'product-grid-item' %}

  {% endfor %}

</div>

<hr>

<h2>Selected {{ 'homepage.sections.featured_title' | t }}</h2>

<div class="grid-uniform">

  {% assign collection_item_width = 'large--one-half' %}

  {% comment %}

    Hand-picked collections, chosen by the site administrator in the theme settings.

  {% endcomment %}

  {% comment %}Position 1{% endcomment %}
  {% for collection in collections %}
    {% if collection.handle == settings.homepage_collection_1 %}
      {% include 'collection-grid-item' %}
    {% endif %}
  {% endfor %}

  {% comment %}Position 2{% endcomment %}
  {% for collection in collections %}
    {% if collection.handle == settings.homepage_collection_2 %}
      {% include 'collection-grid-item' %}
    {% endif %}
  {% endfor %}

  {% comment %}Position 3{% endcomment %}
  {% for collection in collections %}
    {% if collection.handle == settings.homepage_collection_3 %}
      {% include 'collection-grid-item' %}
    {% endif %}
  {% endfor %}

  {% comment %}Position 4{% endcomment %}
  {% for collection in collections %}
    {% if collection.handle == settings.homepage_collection_4 %}
      {% include 'collection-grid-item' %}
    {% endif %}
  {% endfor %}

  {% comment %}Position 5{% endcomment %}
  {% for collection in collections %}
    {% if collection.handle == settings.homepage_collection_5 %}
      {% include 'collection-grid-item' %}
    {% endif %}
  {% endfor %}

  {% comment %}Position 6{% endcomment %}
  {% for collection in collections %}
    {% if collection.handle == settings.homepage_collection_6 %}
      {% include 'collection-grid-item' %}
    {% endif %}
  {% endfor %}

  {% comment %}Position 7{% endcomment %}
  {% for collection in collections %}
    {% if collection.handle == settings.homepage_collection_7 %}
      {% include 'collection-grid-item' %}
    {% endif %}
  {% endfor %}

  {% comment %}Position 8{% endcomment %}
  {% for collection in collections %}
    {% if collection.handle == settings.homepage_collection_8 %}
      {% include 'collection-grid-item' %}
    {% endif %}
  {% endfor %}

</div>

<a class="btn--secondary right" href="/collections" title="Browse all {{ 'homepage.sections.featured_title' | t }}">Browse all {{ 'homepage.sections.featured_title' | t }}</a>
